*{
    box-sizing: border-box;
    margin: 0;
}
.flex{
    width: 100%;
    height: 60px;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.code{
    color: #000;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}
.center{
    width: 30%;
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list{
    list-style: none;
    text-decoration: none;
    color: #000;
}
.side{
    margin-right: 20px;
    text-decoration: none;
    color: #000;
}
.highlight{
    background-color: black;
    color: #ffff;
    padding: 8px;
    border-radius: 5px;
}
.body{
    padding: 50px 30px;
}
.get{
    font-size: 60px;
}
.bottom{
    margi;
}
.list2{
    display: flex;
    list-style: none;
}
.highlighted{
    text-decoration: none;
    margin-right: 20px;
    margin-left: none;
    color: white;
    padding: 8px;
    background-color: #000;
    border-radius: 4px;
}
.last{
    text-decoration: none;
    color: #000;
}